body {
    background-image:url('../Images/MyBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.field-validation-error {
    color: crimson;
}

.input-validation-error {
    border: 2px solid red;
}
.heading{
    font-family:cursive;
    color : white;
}
.form-group{
    font-family:Times New Roman ;
    color:blanchedalmond;
}
.checkbox {
    font-family: Times New Roman;
    color: blanchedalmond;
}
.Type {
    color: white;
}
.headers{
    color:white;
}
.movie-content{
    color:aliceblue;
}